.header {
  background: #fff;
  border-bottom: 1px solid #d9fff5;
}

.header__content {
  height: 88px;
  display: flex;
  align-items: center;
  padding: 24px 16px;
}
.header__wrap {
  max-width: 1121px;
  margin: 0 auto;
}
.header__control {
  display: none;
}
.header__contact {
  margin-left: auto;
}
.header__contact *:last-child {
  margin-left: 16px;
}
.header__logo {
  margin-left: 16px;
}

@media screen and (min-width: 768px) {
  .header__content {
    padding: 24px;
  }
  .header__control {
    display: block;
    margin-left: auto;
  }
  .header__control * {
    margin-right: 16px;
  }
  .header__control *:last-child {
    margin-right: 0;
  }
  .header__contact {
    margin-left: 42px;
  }
  .header__logo {
    margin-left: 40px;
  }
}

@media screen and (min-width: 1120px) {
  .header {
    display: none;
  }
}
