/*.swiper-block {
  width: 320px;
  padding: 16px;
}*/
.swiper-block__wrap {
  max-width: 1121px;
  margin: 0 auto;
}
.swiper-block__content {
  padding: 0 16px;
}

.swiper-block__text * {
  margin: 16px 0;
  color: #7e7e82;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: -0.2px;
  text-transform: uppercase;
}

.swiper {
  /*width: 240px;
  height: 72px;*/
  margin-top: 16px;
  margin-right: -16px;
}
.swiper::after {
  content: "";
  display: block;
  width: 24px;
  height: 81px;
  background: linear-gradient(270deg, #f8f8f8 16.84%, transparent 100%);
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
}

.swiper-slide {
  width: 240px;
  border-radius: 6px;
  border: 1px solid #eaeaea;
  background: #fff;
}
.swiper-pagination {
  position: static;
  margin: 16px 6px 0;
}
.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: #dddddd;
}
.swiper-pagination-bullet-active {
  background: #b5b6bc;
}
.swiper-slide img {
  width: auto;
}

.swiper-slide__content {
  height: 72px;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.swiper__btn {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 2px solid #ff3e79;
  border-radius: 50%;
  background-image: url("data:image/svg+xml,%3Csvg width='8' height='12' viewBox='0 0 8 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.5 6L0.707106 2.20711C0.316582 1.81658 0.316582 1.18342 0.707107 0.792893L0.792893 0.707107C1.18342 0.316583 1.81658 0.316583 2.20711 0.707107L6.79289 5.29289C7.18342 5.68342 7.18342 6.31658 6.79289 6.70711L2.20711 11.2929C1.81658 11.6834 1.18342 11.6834 0.792893 11.2929L0.707107 11.2071C0.316583 10.8166 0.316583 10.1834 0.707107 9.79289L4.5 6Z' fill='%23FF3E79'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
}


.swiper--open {
  height: auto !important;
  transition: 1s;
}
.swiper-block__open {
  margin-top: 24px;
  display: none;
}
@media screen and (min-width: 768px) {
  .swiper::after {
    content: none;
  }
  .swiper {
    margin-top: 24px;
    height: 165px;
    margin-right: 0;
  }
  .swiper-pagination {
    display: none;
  }
  .swiper-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 24px;
    row-gap: 16px;
    justify-items: center;
  }
  .swiper-block__open {
    display: block;
  }
}
@media screen and (min-width: 1120px) {
  .swiper-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 32px;
  }
}